<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <div class="grid grid-cols-6 gap-2">


            <div class="col-span-2">
                <label for="Nombre" class="block text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                <!-- <input [(ngModel)]="filter.nombre" type="text" id="Nombre" aria-describedby="Nombre-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <input type="text" class="w-full" pInputText [(ngModel)]="filter.nombre" />
            </div>

            <div class="col-span-1">
                <label for="descripcion" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Descripción
                </label>
                <!-- <input [(ngModel)]="filter.descripcion" type="text" id="Descripcion" aria-describedby="Descripcion-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <input type="text" class="w-full" pInputText [(ngModel)]="filter.descripcion" />
            </div>

            <div class="col-span-1">
                <label for="ubicacionExacta" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Ubicación
                </label>
                <!-- <input [(ngModel)]="filter.ubicacionExacta" type="text" id="ubicacionExacta"
                    aria-describedby="ubicacionExacta-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <input type="text" class="w-full" pInputText [(ngModel)]="filter.ubicacionExacta" />

            </div>

            <div class="col-span-1">
                <label for="fechaInicio" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Fecha Inicio
                </label>
                <!-- <input [(ngModel)]="filter.fechaInicio" type="text" id="fechaInicio" aria-describedby="fechaInicio-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <p-calendar class="w-full" [(ngModel)]="filter.fechaInicio" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="icondisplay" />
            </div>

            <div class="col-span-1">
                <label for="fechaFin" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Fecha Fin
                </label>
                <!-- <input [(ngModel)]="filter.fechaFin" type="text" id="fechaFin" aria-describedby="fechaFin-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <p-calendar class="w-full" [(ngModel)]="filter.fechaFin" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="icondisplay" />
            </div>

            <div class="col-span-1">
                <label for="type" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Tipo
                </label>

                <!-- <input [(ngModel)]="filter.type" type="text" id="type" aria-describedby="type-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <input type="text" class="w-full" pInputText [(ngModel)]="filter.type" />
            </div>

            <div class="col-span-1">
                <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Ruta
                </label>
                <!-- <input [(ngModel)]="filter.name_route" type="text" id="name_route" aria-describedby="name_route-help"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"> -->
                <input type="text" class="w-full" pInputText [(ngModel)]="filter.name_route" />
            </div>

            <div class="col-span-2">

            </div>


            <div class="col-span-2 global-center-end mt-3">
                <p-button severity="success" label="Nuevo" icon="pi pi-plus" class="ml-2 text-sm p-1"
                    (onClick)="coreNew()" />
                <p-button severity="warning" label="Buscar" icon="pi pi-search" class="ml-2 text-sm p-1"
                    (onClick)="coreSearch()" />
                <p-button severity="danger" label="Limpiar" icon="pi pi-trash" class="ml-2 text-sm p-1"
                    (onClick)="clearFilter()" />
            </div>


        </div>
    </p-toolbar>


    <p-table #dt [value]="listFilter" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nombre', 'ubicacionExacta', 'fechaInicio', 'fechaFin']" [(selection)]="itemSelected"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <!-- <ng-template pTemplate="caption">
            <div class="global-center-between">
                <h5 class="m-0">Administrar Eventos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search..." />
                </span>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr class="text-sm">

                <th class="tableColumnName" pSortableColumn="nombre">
                    Name <p-sortIcon field="nombre" />
                </th>

                <th class="tableColumnDescription-xs " pSortableColumn="ubicacionExacta">
                    Ubicación <p-sortIcon field="ubicacionExacta" />
                </th>
                <th class="tableColumnDate" pSortableColumn="fechaInicio">
                    Fecha Inicio <p-sortIcon field="fechaInicio" />
                </th>
                <th class="tableColumnDate" pSortableColumn="fechaFin">
                    Fecha Fin <p-sortIcon field="fechaFin" />
                </th>

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr class="text-xs">

                <td class="tableColumnName">
                    {{ row.nombre }}
                </td>

                <!-- <td class="tableColumnDescription-xs ">
                    
                      xd
                </td> -->

                <td class="tableColumnDescription-xs ">
                    {{ row.ubicacionExacta }}
                </td>
                <td class="tableColumnDate">
                    {{ row.fechaInicio }}
                </td>
                <td class="tableColumnDate">
                    {{ row.fechaFin }}
                </td>
                <td>
                    <div class="card flex items-center justify-center">
                        <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
                        <p-button (onClick)="menu.toggle($event)" (onClick)="itemSelected = row"
                            icon="pi pi-ellipsis-v" />
                    </div>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="global-center-between text-sm">
                Existen {{ listFilter ? listFilter.length : 0 }} elementos.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <!--  <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.image"
                class="block m-auto pb-3" *ngIf="product.nombre" /> -->
            <div class="field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.nombre" required autofocus />
                <small class="p-error" *ngIf="submitted && !product.nombre">
                    Name is required.
                </small>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea [(ngModel)]="product.descripcion" required rows="3" cols="20">
                    </textarea>
            </div>

            <!-- <div class="field">
                <label for="inventoryStatus">Inventory Status</label>
                <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses">
                    <ng-template pTemplate="selectedItem">
                        <p-tag [value]="product.inventoryStatus.toUpperCase()"
                            [severity]="getSeverity(product.inventoryStatus.toUpperCase())" />
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.label" [severity]="getSeverity(option.label)" />
                    </ng-template>
                </p-dropdown>
            </div> -->

            <!--  <div class="field">
                <label class="mb-3">Category</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category1" name="category" value="Accessories"
                            [(ngModel)]="product.category" />
                        <label for="category1">Accessories</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category" />
                        <label for="category2">Clothing</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category3" name="category" value="Electronics"
                            [(ngModel)]="product.category" />
                        <label for="category3">Electronics</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category" />
                        <label for="category4">Fitness</label>
                    </div>
                </div>
            </div> -->

            <!-- <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.horaInicio" mode="currency" currency="USD"
                        locale="en-US" />
                </div>
                <div class="field col">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber id="quantity" [(ngModel)]="product.horaFin" />
                </div>
            </div> -->
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
            <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveProduct()" />
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>