<p-dialog [(visible)]="visible" [style]="{ width: '650px' }" header="Sub Evento Información" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="dtoRegister.nombre" required autofocus />
            <!--  <small class="p-error" *ngIf="submitted && !product.name">
                Name is required.
            </small> -->
        </div>
        <div class="field">
            <label for="description">Descripción</label>
            <textarea id="description" pInputTextarea [(ngModel)]="dtoRegister.descripcion" required rows="3" cols="20">
                    </textarea>
        </div>
        <div class="field">
            <label for="dia">
                DIA
            </label>
            <p-calendar class="w-full" [(ngModel)]="dtoRegister.dia" [iconDisplay]="'input'" [showIcon]="true"
                inputId="icondisplay" dateFormat="dd/mm/yy" />
        </div>
        <div class="grid grid-cols-2">
            <div class="field col">
                <label for="horaInicio">horaInicio</label>
                <p-calendar class="w-full" [(ngModel)]="dtoRegister.horaInicio" [timeOnly]="true"
                    [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy" />
            </div>
            <div class="field col">
                <label for="horaFin">horaFin</label>
                <p-calendar class="w-full" [(ngModel)]="dtoRegister.horaFin" [timeOnly]="true" [iconDisplay]="'input'"
                    [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy" />

            </div>
        </div>
        <p-divider></p-divider>
        <div class="field">
            <label for="description">Enlace Foto</label>
            <textarea id="description" pInputTextarea [(ngModel)]="dtoRegister.foto.url" required rows="3" cols="20">
                    </textarea>
        </div>
        <div class="col-span-2">
            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                LUGAR
            </label>
            <p-inputGroup>
                <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.foto.lugar" />
                <button type="button" (click)="coreShowSelectors('LugarSelectorPhoto')" pButton
                    icon="pi pi-search"></button>
            </p-inputGroup>
        </div>
        <div class="field">
            <label for="Titulo">Titulo</label>
            <textarea id="Titulo" pInputTextarea [(ngModel)]="dtoRegister.foto.titulo" required rows="3" cols="20">
                    </textarea>
        </div>
        <div class="col-span-2">
            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                PROVEEDOR ID
            </label>
            <p-inputGroup>
                <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.foto.proveedorDesc" />
                <button type="button" (click)="coreShowSelectors('ProveedorSelector')" pButton
                    icon="pi pi-search"></button>
            </p-inputGroup>

        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveItem()" />
    </ng-template>
</p-dialog>

<app-lugar-selector-view></app-lugar-selector-view>
<app-proveedor-selector-view></app-proveedor-selector-view>