<div class="card flex justify-content-center">

    <p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">



        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            NOMBRE
                        </th>
                        <th scope="col" class="px-6 py-3">
                            ACCIÓN
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (item of listFilter; track $index) {

                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{item.id}}
                        </th>
                        <td class="px-6 py-4">
                            {{item.nombre}}
                        </td>
                        <td class="px-6 py-4">
                            <a (click)="coreSelect(item)"
                                class="font-medium cursor-pointer text-blue-600 dark:text-blue-500 hover:underline">
                                Seleccionar
                            </a>

                        </td>

                    </tr>
                    }

                </tbody>
            </table>
            @if (boolLoadData) {


            <div role="status"
                class="w-full p-4 space-y-4 border border-gray-200 divide-y divide-gray-200 rounded shadow animate-pulse dark:divide-gray-700 md:p-6 dark:border-gray-700">

                <div *ngFor="let item of [1,2,3,4,5]" class="flex items-center justify-between pb-4">
                    <div>
                        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-24 mb-2.5"></div>
                        <div class="w-32 h-2 bg-gray-200 rounded-full dark:bg-gray-700"></div>
                    </div>
                    <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-700 w-12"></div>
                </div>

                <span class="sr-only">Loading...</span>
            </div>


            }
        </div>




    </p-dialog>
</div>