<p-dialog header="SubEvento Detalle" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="card">
        <div class="global-center-end">

            <p-button severity="success" label="AGREGAR" icon="pi pi-plus" class="mr-2"
                (onClick)="listDtoRegister.push(dtoRegister)" />
        </div>

        <p-table [value]="listDtoRegister" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:25%">
                        Titulo
                    </th>
                    <th style="width:25%">
                        Detalle
                    </th>
                    <th style="width:25%">
                        Hora Inicio
                    </th>
                    <th style="width:25%">
                        Hora Fin
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-editing="editing">
                <tr>
                    <td [pEditableColumn]="item.organizador" pEditableColumnField="organizador">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="item.organizador" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.organizador }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="item.detalle" pEditableColumnField="detalle">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="item.detalle" required />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.detalle }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="item.horaInicio" pEditableColumnField="horaInicio">
                        <p-cellEditor>
                            <ng-template pTemplate="input">

                                <!--  <p-calendar class="w-full" [(ngModel)]="dtoRegister.horaInicio" [timeOnly]="true"
                                    [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" /> -->
                                <input class="w-full" type="time" [(ngModel)]="dtoRegister.horaInicio" inputId="horaInicio" />

                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.horaInicio }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [pEditableColumn]="item.horaFin" pEditableColumnField="horaFin">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <!-- <p-calendar class="w-full" [(ngModel)]="dtoRegister.horaFin" [timeOnly]="true"
                                    [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                                    dateFormat="dd/mm/yy" /> -->
                                <input class="w-full" type="time" [(ngModel)]="dtoRegister.horaFin" inputId="horaFin" />


                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ item.horaFin | currency: 'USD' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div>
            <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="coreCloseSelector()" />
            <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveItem()" />
        </div>
    </div>
</p-dialog>