<div class="card">
    <p-toast />
    <p-toolbar styleClass="mb-4 gap-2">
        <div class="grid grid-cols-6 gap-2">






            <div class="col-span-2">
                <label for="ubicacionExacta" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Evento
                </label>

                <input type="text" class="w-full" pInputText [(ngModel)]="filter.eventoId" />

            </div>

            <div class="col-span-2">
                <label for="Nombre" class="block text-sm font-medium text-gray-900 dark:text-white">Nombre</label>

                <input type="text" class="w-full" pInputText [(ngModel)]="filter.nombre" />
            </div>

            <div class="col-span-1">
                <label for="fechaInicio" class="block text-sm font-medium text-gray-900 dark:text-white">
                    Dia
                </label>

                <p-calendar class="w-full" [(ngModel)]="filter.dia" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="icondisplay" />
            </div>



            <div class="col-span-1">

            </div>
            <div class="col-span-4">

            </div>

            <div class="col-span-2 global-center-end mt-3">
                <p-button severity="success" label="Nuevo" icon="pi pi-plus" class="ml-2 text-sm p-1"
                    (onClick)="coreNew()" />
                <p-button severity="warning" label="Buscar" icon="pi pi-search" class="ml-2 text-sm p-1"
                    (onClick)="coreSearch()" />
                <p-button severity="danger" label="Limpiar" icon="pi pi-trash" class="ml-2 text-sm p-1"
                    (onClick)="clearFilter()" />
            </div>


        </div>
    </p-toolbar>


    <p-table #dt [value]="listFilter" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nombre', 'ubicacionExacta', 'fechaInicio', 'fechaFin']" [(selection)]="itemSelected"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <!-- <ng-template pTemplate="caption">
            <div class="global-center-between">
                <h5 class="m-0">Administrar Eventos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search..." />
                </span>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr class="text-sm">

                <th class="tableColumnName" pSortableColumn="nombre">
                    Name <p-sortIcon field="nombre" />
                </th>

                <th class="tableColumnDescription-xs " pSortableColumn="descripcion">
                    Evento Relacionado <p-sortIcon field="descripcion" />
                </th>
                <th class="tableColumnDate" pSortableColumn="fechaInicio">
                    Dia <p-sortIcon field="fechaInicio" />
                </th>


                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr class="text-xs">

                <td class="tableColumnName">
                    {{ row.nombre }}
                </td>

                <td class="tableColumnName">
                    {{ row.eventoId }}
                </td>

                <!-- <td class="tableColumnDescription-xs ">
                    {{ row.descripcion }}
                </td> -->
                <td class="tableColumnDate">
                    {{ row.dia }}
                </td>

                <td>
                    <div class="card flex items-center justify-center">
                        <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
                        <p-button (onClick)="menu.toggle($event)" (onClick)="itemSelected = row"
                            icon="pi pi-ellipsis-v" />
                    </div>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="global-center-between text-sm">
                Existen {{ listFilter ? listFilter.length : 0 }} elementos.
            </div>
        </ng-template>
    </p-table>



    <p-confirmDialog [style]="{ width: '450px' }" />
</div>