<div class="card">
    <p-tabView>
        <p-tabPanel header="Información del Evento">

            <div>
                <p-toolbar styleClass="mb-4 gap-2">
                    <h1>Datos del Evento</h1>
                    <p-divider />
                    <div class="grid grid-cols-4 gap-2 w-full">

                        <div class="col-span-2">
                            <label for="Nombre"
                                class="block text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.nombre" />
                        </div>

                        <div class="col-span-2">
                            <label for="descripcion" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Descripción
                            </label>

                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.descripcion" />
                        </div>

                        <div class="col-span-2">
                            <label for="ubicacionExacta"
                                class="block text-sm font-medium text-gray-900 dark:text-white">
                                Ubicación
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.ubicacionExacta" />

                        </div>

                        <div class="col-span-1">
                            <label for="fechaInicio" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Fecha Inicio
                            </label>

                            <p-calendar class="w-full" [(ngModel)]="dtoRegister.fechaInicio" [iconDisplay]="'input'"
                                [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy" />
                        </div>

                        <div class="col-span-1">
                            <label for="fechaFin" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Fecha Fin
                            </label>

                            <p-calendar class="w-full" [(ngModel)]="dtoRegister.fechaFin" [iconDisplay]="'input'"
                                [showIcon]="true" inputId="icondisplay" />
                        </div>

                        <div class="col-span-2">
                            <label for="type" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Tipo
                            </label>


                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.type" />
                        </div>

                        <div class="col-span-2" (click)="coreShowSelectors('lugar')">
                            <label for="type" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Lugar ID
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.lugarId" />
                        </div>


                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Ruta
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.name_route" />
                        </div>
                    </div>
                </p-toolbar>

                <p-toolbar styleClass="mb-4 gap-2">
                    <h1>Foto Principal del Evento</h1>
                    <p-divider />
                    <div class="grid grid-cols-4 gap-2 w-full">
                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                ENLACE
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.foto.url" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                LUGAR
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.foto.lugar" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                TITULO
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.foto.titulo" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                PROVEEDOR ID
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="dtoRegister.foto.proveedorId" />
                        </div>
                    </div>
                </p-toolbar>


            </div>
        </p-tabPanel>


        <p-tabPanel header="Listado de Sub-Eventos">

            <p-table #dt [value]="this.dtoRegister.subEventos" [rows]="10"
                [globalFilterFields]="['nombre', 'ubicacionExacta', 'fechaInicio', 'fechaFin']" [rowHover]="true"
                dataKey="id" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="global-center-between">
                        <h5 class="m-0">Administrar SubEventos</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="text-sm">

                        <th class="tableColumnName" pSortableColumn="nombre">
                            Name <p-sortIcon field="nombre" />
                        </th>

                        <th class="tableColumnDescription-xs " pSortableColumn="ubicacionExacta">
                            Ubicación <p-sortIcon field="ubicacionExacta" />
                        </th>
                        <th class="tableColumnDate" pSortableColumn="fechaInicio">
                            Fecha Inicio <p-sortIcon field="fechaInicio" />
                        </th>
                        <th class="tableColumnDate" pSortableColumn="fechaFin">
                            Fecha Fin <p-sortIcon field="fechaFin" />
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr class="text-xs">

                        <td class="tableColumnName">
                            {{ row.nombre }}
                        </td>

                        <!-- <td class="tableColumnDescription-xs ">
                    
                      xd
                </td> -->

                        <td class="tableColumnDescription-xs ">
                            {{ row.ubicacionExacta }}
                        </td>
                        <td class="tableColumnDate">
                            {{ row.fechaInicio }}
                        </td>
                        <td class="tableColumnDate">
                            {{ row.fechaFin }}
                        </td>
                        <td>
                            <!-- <div class="card flex items-center justify-center">
                                <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
                                <p-button (onClick)="menu.toggle($event)" (onClick)="itemSelected = row"
                                    icon="pi pi-ellipsis-v" />
                            </div> -->

                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="summary">
                    <div class="global-center-between text-sm">
                        Existen {{ listFilter ? listFilter.length : 0 }} elementos.
                    </div>
                </ng-template> -->
            </p-table>
            <!-- 
            <div>
                @for (item of dtoRegister.subEventos; track $index) {
                <p-toolbar styleClass="mb-4 gap-2">
                    <h1>Datos</h1>
                    <p-divider />
                    <div class="grid grid-cols-4 gap-2 w-full">

                        <div class="col-span-2">
                            <label for="Nombre"
                                class="block text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="item.nombre" />
                        </div>

                        <div class="col-span-2">
                            <label for="descripcion" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Descripción
                            </label>

                            <input type="text" class="w-full" pInputText [(ngModel)]="item.descripcion" />
                        </div>



                        <div class="col-span-1">
                            <label for="fechaInicio" class="block text-sm font-medium text-gray-900 dark:text-white">
                                dia
                            </label>

                            <p-calendar class="w-full" [(ngModel)]="item.dia" [iconDisplay]="'input'" [showIcon]="true"
                                inputId="icondisplay" />
                        </div>
                        <div class="col-span-1">
                            <label for="fechaFin" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Hora Inicio
                            </label>

                            <p-calendar [(ngModel)]="item.horaInicio" [iconDisplay]="'input'" [showIcon]="true"
                                [timeOnly]="true" inputId="templatedisplay">
                                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                    <i class="pi pi-user pointer-events-none" (click)="clickCallBack($event)"></i>
                                </ng-template>
                            </p-calendar>
                        </div>
                        <div class="col-span-1">
                            <label for="fechaFin" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Hora Fin
                            </label>

                            <p-calendar [(ngModel)]="item.horaFin" [iconDisplay]="'input'" [showIcon]="true"
                                [timeOnly]="true" inputId="templatedisplay">
                                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                    <i class="pi pi-user pointer-events-none" (click)="clickCallBack($event)"></i>
                                </ng-template>
                            </p-calendar>
                        </div>

                        <div class="col-span-2">
                            <label for="type" class="block text-sm font-medium text-gray-900 dark:text-white">
                                Evento ID
                            </label>


                            <input type="text" class="w-full" pInputText [(ngModel)]="item.eventoId" />
                        </div>


                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                ENLACE FOTO
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="item.foto.url" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                LUGAR FOTO
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="item.foto.lugar" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                TITULO FOTO
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="item.foto.titulo" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="block text-sm font-medium text-gray-900 dark:text-white">
                                PROVEEDOR ID FOTO
                            </label>
                            <input type="text" class="w-full" pInputText [(ngModel)]="item.foto.proveedorId" />
                        </div>
                    </div>
                </p-toolbar>

                }@empty {
                Agregúe Subeventos
                }
            </div> 
            -->
        </p-tabPanel>

    </p-tabView>

    <p-button (onClick)="coreSave()" label="GUARDAR" />
</div>


<app-lugar-selector-view></app-lugar-selector-view>