<p-toast />
<div class="card">
    <p-tabView>
        <p-tabPanel header="Información del Evento">

            <div>
                <p-toolbar styleClass="mb-4 gap-2">
                    <h1>Datos del Evento</h1>
                    <p-divider />
                    <div class="grid grid-cols-4 gap-2 w-full">

                        <div class="col-span-2">
                            <label for="Nombre" class="label-filter">Nombre</label>
                            <input type="text" class="input-filter" (input)="create_nameRoute(dtoRegister.nombre)" pInputText
                                [(ngModel)]="dtoRegister.nombre" />
                        </div>

                        <div class="col-span-2">
                            <label for="descripcion" class="label-filter">
                                Descripción
                            </label>

                            <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.descripcion" />
                        </div>

                        <div class="col-span-2">
                            <label for="ubicacionExacta" class="label-filter">
                                Ubicación Exacta
                            </label>
                            <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.ubicacionExacta" />

                        </div>

                        <div class="col-span-1">
                            <label for="fechaInicio" class="label-filter">
                                Fecha Inicio
                            </label>

                            <p-calendar class="input-filter-date" [(ngModel)]="dtoRegister.fechaInicio" [iconDisplay]="'input'"
                                [showIcon]="true" inputId="icondisplay" dateFormat="dd/mm/yy" />
                        </div>

                        <div class="col-span-1">
                            <label for="fechaFin" class="label-filter">
                                Fecha Fin
                            </label>

                            <p-calendar class="input-filter-date" [(ngModel)]="dtoRegister.fechaFin" [iconDisplay]="'input'"
                                [showIcon]="true" inputId="icondisplay" />
                        </div>

                        <div class="col-span-2">
                            <label for="type" class="label-filter">
                                Tipo
                            </label>
                            <p-dropdown [options]="list_types" class="input-filter-dropdown" [(ngModel)]="dtoRegister.type"
                                optionLabel="name" optionValue="code" placeholder="Selecciona el tipo de evento" />


                        </div>

                        <div class="col-span-2">
                            <label for="type" class="label-filter">
                                Lugar
                            </label>
                            <p-inputGroup>
                                <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.lugarDesc" />

                                <button type="button" (click)="coreShowSelectors('LugarSelector')" pButton
                                    icon="pi pi-search"></button>
                            </p-inputGroup>

                        </div>


                        <div class="col-span-2">
                            <label for="name_route" class="label-filter">
                                Nombre Ruta
                            </label>
                            <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.name_route" />
                        </div>
                    </div>
                </p-toolbar>

                <p-toolbar styleClass="mb-4 gap-2">
                    <h1>Foto Principal del Evento</h1>
                    <p-divider />
                    <div class="grid grid-cols-4 gap-2 w-full">
                        <div class="col-span-2">
                            <label for="name_route" class="label-filter">
                                ENLACE
                            </label>
                            <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.foto.url" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="label-filter">
                                LUGAR
                            </label>
                            <p-inputGroup>
                                <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.foto.lugar" />
                                <button type="button" (click)="coreShowSelectors('LugarSelectorPhoto')" pButton
                                    icon="pi pi-search"></button>
                            </p-inputGroup>


                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="label-filter">
                                TITULO
                            </label>
                            <input type="text" class="input-filter" pInputText [(ngModel)]="dtoRegister.foto.titulo" />
                        </div>

                        <div class="col-span-2">
                            <label for="name_route" class="label-filter">
                                PROVEEDOR ID
                            </label>
                            <p-inputGroup>
                                <input type="text" class="input-filter" pInputText
                                    [(ngModel)]="dtoRegister.foto.proveedorDesc" />
                                <button type="button" (click)="coreShowSelectors('ProveedorSelector')" pButton
                                    icon="pi pi-search"></button>
                            </p-inputGroup>

                        </div>
                    </div>
                </p-toolbar>


            </div>
        </p-tabPanel>


        <p-tabPanel header="Listado de Sub-Eventos">

            <p-table #dt [value]="dtoRegister.subeventos" [rows]="10" [paginator]="true"
                [globalFilterFields]="['nombre', 'ubicacionExacta', 'fechaInicio', 'fechaFin']" [rowHover]="true"
                dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="global-center-between">
                        <h5 class="m-0">Administrar SubEventos</h5>
                        <p-button severity="success" label="Nuevo" icon="pi pi-plus" class="ml-2 text-sm p-1"
                            (onClick)="coreShowDependences('SubEventoManage', 'NEW')" />
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onFilterGlobal($event)" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="text-sm">

                        <th class="tableColumnName" pSortableColumn="nombre">
                            Name <p-sortIcon field="nombre" />
                        </th>
                        <th class="tableColumnName" pSortableColumn="descripcion">
                            Descripcion <p-sortIcon field="descripcion" />
                        </th>
                        <!-- <th class="tableColumnDescription-xs " pSortableColumn="descripcion">
                            Evento Relacionado <p-sortIcon field="descripcion" />
                        </th> -->
                        <th class="tableColumnDate" pSortableColumn="fechaInicio">
                            Dia <p-sortIcon field="fechaInicio" />
                        </th>


                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr class="text-xs">

                        <td class="tableColumnName">
                            {{ row.nombre }}
                        </td>

                        <!-- <td class="tableColumnName">
                            {{ row.eventoId }}
                        </td> -->

                        <td class="tableColumnDescription-xs ">
                            {{ row.descripcion }}
                        </td>
                        <td class="tableColumnDate">
                            {{ row.dia }}
                        </td>

                        <td>
                            <div class="dropdown-button card flex items-center justify-center">
                                <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
                                <p-button (onClick)="menu.toggle($event)" (onClick)="subEventoSelected = row"
                                    icon="pi pi-ellipsis-v" />
                            </div>

                        </td>
                    </tr>
                </ng-template>
                <!--   <ng-template pTemplate="summary">
                    <div class="global-center-between text-sm">
                        Existen {{ listFilter ? listFilter.length : 0 }} elementos.
                    </div>
                </ng-template> -->
            </p-table>

        </p-tabPanel>

    </p-tabView>
    <div class="global-center">
        <p-button (onClick)="coreSave()" [label]="action == 'NEW' ? 'GUARDAR' : 'ACTUALIZAR' " />
    </div>
</div>


<app-lugar-selector-view></app-lugar-selector-view>
<app-proveedor-selector-view></app-proveedor-selector-view>
<app-subeventos-manage></app-subeventos-manage>
<app-subeventosdetalle-manage></app-subeventosdetalle-manage>